<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="/images/favicon.png" type="image/fav.icon" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i" rel="stylesheet" ></link>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Quality Management System</title>

    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet"></link>
    <link href="/css/style.css" rel="stylesheet"></link>
    <link rel="stylesheet" href="/css/font-awesome.min.css"></link>
    <link rel="stylesheet" href="/css/layout.css" />
      <script  src="/js/common.js"></script>
	  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>  -->
    	 <script src="/js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>    
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript">
    /*<![CDATA[*/
   function check(){
	   if (document.getElementById('password').value ==
		    document.getElementById('confirm_password').value){
		   
	   } else {
		   alert("Password and Confirm Password not same");
		  }
   }
    
   function updatePassword(){
	   var userId = document.getElementById('userId').value;
	   var password=document.getElementById('password').value;
	   var confirmpassword=document.getElementById('confirm_password').value;
		 //var password = jQuery.trim($('#passwordtxt').val());
		
		 if(userId==''){
			 alert("Please enter UserName");
			 return false;
		 }
		 if(password==''){
			 alert("Please enter Password");
			 return false; 
		 }
		 if(confirmpassword==''){
			 alert("Please enter Confirm Password");
			 return false; 
		 }
		 if(password=='' & confirmpassword==''){
			 
		 }	 
	   if (document.getElementById('password').value ==
		    document.getElementById('confirm_password').value){
		   $("#forgotuserForm").submit();
	   } else {
		   alert("Password and Confirm Password not same");
		   var password = document.getElementById("password");
			password.value = '';
			var cpassword = document.getElementById("confirm_password");
			cpassword.value='';
		   return false;
		  }
  
   }
	function userManagmentAction() {
		window.location.href = "/searchuser"
	}

	function noBack() {
		window.history.forward();
	}
	function logout() {
		window.location.href = "/logout"
	}
	function cancel(){
		var username = document.getElementById("userId");
		username.value = '';
		var password = document.getElementById("password");
		password.value = '';
		var cpassword = document.getElementById("confirm_password");
		cpassword.value='';
		window.location.href = "/QMS"
	     // window.location.href = "/"
	}
	
	function verifyId(){
		var requestData ={};
	    var data;
	    requestData["userName"]=document.getElementById("userId").value;
	    $("#verifyUserButton").prop('disabled',true);
	    $.ajax({
 			  type: "post",
 			  url: "/verifyuser",
 			  cache: false,    
 			  data:requestData,
 			  dataType : 'json',
 			  success: function(response){
 				 alert(response.errorMessage);
 				 if(response.errorMessage === null){
 					 alert("User Not Valid");
 				 }else if(response.errorMessage=== "User Verified!..."){
 		    	  document.getElementById("verifyUser").style="display: block";
 		    	// document.getElementById("verifyUserButton").style="display: block";
 		    	$("#verifyUserButton").prop('disabled',true);
 		    	$("#userName").prop('disabled',true);
 		    	  
 		      }
 		     
 		   
 		      
 			  },
 			  error: function(){      
 			   alert('Error while request..');
 			  }
 			 });
	}
	
	 function verifyPin() {
	    var requestData ={};
	    var data;
	    requestData["pin"]= document.getElementById("pinId").value;
	    requestData["userName"]=document.getElementById("userId").value;
	    $.ajax({
 			  type: "post",
 			  url: "/verifyPin",
 			  cache: false,    
 			  data:requestData,
 			  dataType : 'json',
 			  success: function(response){
 				 alert(response.errorMessage);
 				if(response.errorMessage=== "Pin is valid!..."){
 	 		    	  document.getElementById("updatePassword").style="display: block";
 	 		    	$("#verifyPinButton").prop('disabled',true);
 	 		    	$("#pinId").prop('disabled',true);
 	 		    	//document.getElementById("updatePassword").disable="true";
 	 		    	//  document.getElementById("verifyPinButton").disable="true";
 	 		    	  
 	 		      }
 		      data=response.length;
 		     
 		   
 		      
 			  },
 			  error: function(){      
 			   alert('Error while request..');
 			  }
 			 });
	    
	
	} 
	/* function redirectHome() {
		window.location.href = "/redirecthome"
	} */
	/*]]>*/
</script>
    
  </head>
  <body onload="noBack();" onpageshow="if (event.persisted) noBack();">
    <!--HEADER START-->
    	<div class="header">
        	<div class="header_inner">
            	<div class="inner_logo"><img src="/images/inner_logo.png" alt="Document Management System" title="Document Management System" /></div>
              <div class="header_right" hidden="true">
                <span  STYLE="color: white; font-size: 10pt"> User:</span>
             <span  STYLE="color: white; font-size: 10pt" th:text="${session.SESSION_USER_VO.firstName + ' ' +session.SESSION_USER_VO.lastName}" 
             th:if="${session.SESSION_USER_VO != null}" ></span>
                	<!-- <input type="text" class="header_search" placeholder="Search files" name="search" /> -->
                    <button class="common_btn width100" onclick="userManagmentAction()"><img src="/images/group_user_icon.png" class="icon_mr" alt="User management" title="User management" />User management</button>
                     <span class="header_logout">
                     <button class="common_btn width100" onclick="logout()"><img src="/images/group_user_icon.png" class="icon_mr" alt="logout" title="logout"/>Logout</button>
                     </span>
                </div>
                 
            </div>
        </div>
    <!--HEADER END-->
  <!--   <div class="watermark">
		<img src="/images/watermark_4.png" />
	</div>  -->
 <!--ADD USER MODAL START-->
            <div class="form_detail">
           
            <!--   <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-body"> -->
                    <!--START-->
                    <div class="usererror" th:each="errorMessageVO : ${errorMsg}">
                    <span th:text="${errorMessageVO.errorMessage}" th:if="${errorMessageVO.errorMessage != null}" class="usererror"></span>
                    </div>
                          <form id="forgotuserForm" th:action="@{/updatePassword}" th:object="${forgotuser}" method="post">
                          <div class="row">
                        	  <div class="col-25">
								<label for="status">User Name</label>
							  </div>
							  <div class="col-75">
							  	<input type="text" th:field="*{userName}" id="userId" required="required" maxlength="50"/>
							  	 <button class="common_btn" id="verifyUserButton"   onclick="verifyId()">Verify</button>
							  </div>
                          
                          </div>
                          
                            
                         <div id="verifyUser" style="display: none">
                         <div class="row">
                        	  <div class="col-25">
								<label for="status">User PIN</label>
							  </div>
							  <div class="col-75">
							  	<input type="text" th:field="*{pinId}" id="pinId" required="required" maxlength="50"/>
							  	   <button class="common_btn" id="verifyPinButton"  onclick="verifyPin()" >Verify Pin</button>
							  </div>
                          
                          </div>
                          
                            </div>
                         
                         <div id ="updatePassword" style="display: none;" >
                            <div class="row">
                             <div class="col-25">
                             	<label class="control-label" for="input">Password</label>
                             </div>
                              <div class="col-75">
                               <input id="password" type="password" th:field="*{password}" required="required" maxlength="50"/>
                              </div>
                                                   
                            </div>
                            
                            <div class="row">
                            <div class="col-25">
                            <label class="control-label" for="input">Confirm Password</label>
                            </div>
                             <div class="col-75">
                             <input id="confirm_password" type="password" required="required" maxlength="100" />
                              <button class="common_btn"   onclick="updatePassword()">Update Password</button>
                             </div>
                               
                            </div>
                             </div>
                             <div class="row">
                             <div class="col-25">
                            </div>
                             <div class="col-75">
                                <button class="common_btn"  onclick="cancel()">Back</button>
                              </div>
                              </div>
                        </form>
                    <!--END-->
                  </div>
               <!--  </div>
              </div>
           
            </div> -->
    <!--ADD USER MODAL END-->
   
    
   
  
  </body>
</html>